!!! XML
%feed
  %title= MenkiConfig.atom.site_name
  %link{ :href => "#{absolute_url(:home)}", :rel => "self", :type => "application/atom+xml" }
  %link{ :href => "#{absolute_url(:home)}" }
  %updated
    - if @posts.first
      = @posts.first.updated_or_published_at
    - else
      = Time.local(2008, 01, 01)
  %subtitle Great writing, since 1975.
  %id= request.host
  %icon= absolute_url(:home) + "favicon.ico"
  %generator Menki - http://menkiblog.com
  %rights "Creative Commons Attribution 3.0"
  - for post in @posts
    %entry
      %title post.title
      %link{ :href => absolute_url(:post, post), :rel => "alternate", :type => "text/html" }
      %id= "#{request.host}:#{post.to_param}"
      %published post.published_at
      %updated= post.updated_or_published_at
      %author
        %name= MenkiConfig.atom.author.name
        %uri= absolute_url(:home)
        %email= MenkiConfig.atom.author.email
